<div class="row justify-content-center">
  <div class="col-md-4 register-employee">
    <div class="card card-outline-secondary">
      <div class="card-header">
        <h3 class="mb-0">Edit Reservation</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">Customer Name</label>
            <input
              class="form-control"
              type="text"
              formControlName="name"
              placeholder="Customer Name"
            />
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm.name.errors?.required"
            >
              Customer Name is required.
            </div>
          </div>

          <div class="form-group">
            <label for="phone">Phone Number</label>
            <input
              class="form-control"
              type="tel"
              formControlName="phone"
              placeholder="Phone Number"
            />
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm.count.errors?.required"
            >
              Enter Phone Number
            </div>
          </div>

          <div class="form-group">
            <label for="count">Number of People</label>
            <input
              class="form-control"
              type="number"
              formControlName="count"
              placeholder="Number of People"
            />
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm.count.errors?.required"
            >
              Enter Number of People.
            </div>
          </div>

          <div class="form-group">
            <label for="time">Arrival Time</label>
            <input class="form-control" type="text" formControlName="time" />
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm.time.errors?.required"
            >
              Time is required.
            </div>
          </div>

          <div class="form-group">
            <label for="table">Table Number</label>
            <input
              class="form-control"
              type="number"
              formControlName="table"
              placeholder="Table Number"
            />
          </div>

          <div class="form-group">
            <button class="btn btn-success btn-lg col-5 ml-4" type="submit">
              Update
            </button>
            <button
              class="btn btn-danger btn-lg col-5 ml-4"
              routerLink="/reservations-list"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
